{% extends 'base.html.twig' %}

{% block title %}Hello ArrondissementController!{% endblock %}

{% block body %}
<html lang="en">
<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="Table/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Table/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=Table/"vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Table/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Table/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Table/css/util.css">
	<link rel="stylesheet" type="text/css" href="Table/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Arrondissement</th>
								<th class="column2">Code postal</th>
								<th class="column3">Population</th>
								<th class="column4">Densité</th>
								<th class="column5">Maire</th>
								<th class="column6">Localisation</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td class="column1">Jemmal</td>
									<td class="column2">5020</td>
									<td class="column3">50 275 hab.</td>
									<td class="column4">350 hab./km2</td>
									<td class="column5">Habib Mili</td>
									<td class="column6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51892.41081756381!2d10.724436669327401!3d35.62092983319951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13020f9eece33c61%3A0x54d0813bc5281d07!2sJemmel!5e0!3m2!1sfr!2stn!4v1578370932973!5m2!1sfr!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></td>
								</tr>
								<tr>
									<td class="column1">Bekalta</td>
									<td class="column2">5090</td>
									<td class="column3">17 850 hab</td>
									<td class="column4">279 hab./km2</td>
									<td class="column5">Mohamed Briki</td>
									<td class="column6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25947.499814411385!2d10.97858164959763!3d35.61694018338013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13023d6efea4c3eb%3A0x3ceee3e4d1c453b1!2sBekalta!5e0!3m2!1sfr!2stn!4v1578370605638!5m2!1sfr!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></td>
								</tr>
								<tr>
									<td class="column1">Khniss</td>
									<td class="column2">5011</td>
									<td class="column3">11 229 hab</td>
									<td class="column4">210 hab./km2</td>
									<td class="column5">Ridha Aguir </td>
									<td class="column6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12958.114421129549!2d10.80720558482911!3d35.713216182987786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1302126eb8f78775%3A0x180f3b40d854ad83!2sKhniss!5e0!3m2!1sfr!2stn!4v1578371123823!5m2!1sfr!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></td>
								</tr>
								<tr>
									<td class="column1">Bembla</td>
									<td class="column2">5021</td>
									<td class="column3">16 078 hab.</td>
									<td class="column4">250 hab./km2</td>
									<td class="column5">Lassaad Mbarak</td>
									<td class="column6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103703.08976175693!2d10.694276671006811!3d35.68385756707488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13020e7aee997cfb%3A0x8a715034cc51c5d1!2sBembla!5e0!3m2!1sfr!2stn!4v1578371620334!5m2!1sfr!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></td>
								</tr>
								<tr>
									<td class="column1">2017-09-24 05:57</td>
									<td class="column2">200391</td>
									<td class="column3">Smartwatch 4.0 LTE Wifi</td>
									<td class="column4">$199.00</td>
									<td class="column5">6</td>
									<td class="column6">$1494.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-23 05:57</td>
									<td class="column2">200390</td>
									<td class="column3">Camera C430W 4k</td>
									<td class="column4">$699.00</td>
									<td class="column5">1</td>
									<td class="column6">$699.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-22 05:57</td>
									<td class="column2">200389</td>
									<td class="column3">Macbook Pro Retina 2017</td>
									<td class="column4">$2199.00</td>
									<td class="column5">1</td>
									<td class="column6">$2199.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-21 05:57</td>
									<td class="column2">200388</td>
									<td class="column3">Game Console Controller</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-19 05:57</td>
									<td class="column2">200387</td>
									<td class="column3">iPhone X 64Gb Grey</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-18 05:57</td>
									<td class="column2">200386</td>
									<td class="column3">iPhone X 64Gb Grey</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-22 05:57</td>
									<td class="column2">200389</td>
									<td class="column3">Macbook Pro Retina 2017</td>
									<td class="column4">$2199.00</td>
									<td class="column5">1</td>
									<td class="column6">$2199.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-21 05:57</td>
									<td class="column2">200388</td>
									<td class="column3">Game Console Controller</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-19 05:57</td>
									<td class="column2">200387</td>
									<td class="column3">iPhone X 64Gb Grey</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-18 05:57</td>
									<td class="column2">200386</td>
									<td class="column3">iPhone X 64Gb Grey</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-18 05:57</td>
									<td class="column2">200386</td>
									<td class="column3">iPhone X 64Gb Grey</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
								</tr>
								<tr>
									<td class="column1">2017-09-18 05:57</td>
									<td class="column2">200386</td>
									<td class="column3">iPhone X 64Gb Grey</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
								</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="Table/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="Table/vendor/bootstrap/js/popper.js"></script>
	<script src="Table/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="Table/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="Table/js/main.js"></script>

</body>
</html>
{% endblock %}
